dialog{
  width: 400px;
  max-width: 100%;
}

.close-button{
  position: absolute;
  top: 0;
  right: 0;
}

.modal-content{
  display: flex;
  margin-top: 20px;
}

.modal-actions{
  display: flex;
  justify-content: flex-end;
}