<form class="form" [formGroup]="filterForm">
  <div class="row">
    <div class="col-sm-12">
      <select title="select conference" formControlName="conference">
        <option value="">All conferences</option>
        <option
          [value]="conference"
          *ngFor="let conference of conferences$ | async"
        >
          {{ conference }}ern
        </option>
      </select>

      <select title="select division" formControlName="division">
        <option value="">All divisions</option>
        <option
          [value]="division"
          *ngFor="let division of filteredDivisions$ | async"
        >
          {{ division }}
        </option>
      </select>

      <select title="select team" formControlName="team" #teamSelect required>
        <option value="">Select a team</option>
        <option [value]="team.id" *ngFor="let team of filteredTeams$ | async">
          {{ team.full_name }}
        </option>
      </select>

      <button
        [disabled]="!filterForm.valid"
        class="primary"
        (click)="trackTeam(teamSelect.value) || alreadyTrackedModal.open()"
      >
        Track team
      </button>
    </div>
    <div class="col-sm-12 show-filters">
      Show results of past
      <select
        title="select team"
        formControlName="gameCount"
        #daysFilter
        (change)="nbaService.setGameCount(+daysFilter.value)"
      >
        <option *ngFor="let days of FILTER_DAYS_RANGE" [value]="days">
          {{ days }}
        </option>
      </select>
      days
    </div>
  </div>
</form>

<app-modal #alreadyTrackedModal>
  <ng-container modal-content>Team already tracked!</ng-container>
  <ng-container modal-actions>
    <button modal-close>OK</button>
  </ng-container>
</app-modal>
